/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	background: darkgray;
}

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: none;
} 

h1, h2, h3 {
    font-family: 'Prompt', sans-serif;
	font-weight: 600;
}

h1 {

}

h2 {

}

h3 {

}

a {

}

a:hover {
	
} 



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
	padding: 0;
}

li {
	display: block;
	text-align: left;
}

.skill-tree {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}


/* ----------------------------------------
Layout
------------------------------------------- */

.landing-container {
	border: red solid 1px;
	height: 100vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.about-container, .projects-container {
	border: red solid 1px;
	height: 100vmin;
	text-align: center;
}

.about-content-container {
	height: 70vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: center;
	margin: 5% 60px;
}

.about-text-container h3 {
	margin-top: 0px;
}

.projects-content-container {
	height: 70vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 5% 60px;
}

footer {
	border: red solid 1px;
	display: flex;
	flex-wrap: wrap;
}

/* ----------------------------------------
Header
------------------------------------------- */

.upright-triangle {
	z-index: -10;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid #00549986;
	position: absolute;
	margin-top:-25px;
}

.landing-container h1 {
	position: relative;
	color: blue;
}

.landing-container h2 {
	position: relative;
}

/* ----------------------------------------
About
------------------------------------------- */
.about-content-container img {
	max-width: 40%;
	max-height: 300px;
	position: center;
} 

/* ----------------------------------------
Buttons
------------------------------------------- */



/* ----------------------------------------
Projects
------------------------------------------- */

.projects-content-container img {
	max-width: 100%;
	max-height: 300px;
	position: center;
} 



/* ----------------------------------------
Forms
------------------------------------------- */




/* ----------------------------------------
Footer
------------------------------------------- */



/* ----------------------------------------

Error Styles
------------------------------------------- */

.error-message {
	display: none;
}


/* ----------------------------------------
Media Queries
------------------------------------------- */
