/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	background: WAVEFORM
}

img {
	max-width: 50%;
} 

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: none;
} 

h1, h2, h3 {
    font-family: 'Prompt', sans-serif;
	font-weight: 600;
}

h1 {

}

h2 {

}

h3 {

}

a {

}

a:hover {
	
} 



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
	padding: 0;
}

li {
	display: block;
	text-align: left;
}


/* ----------------------------------------
Layout
------------------------------------------- */

.landing-container, .about-container, .projects-container,
.testimonials-container, .contact-container {
	border: red solid 1px;
	height: 100vmin;
	display: flex;
	flex-wrap: wrap;
}

.landing-container {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer {
	border: red solid 1px;
	display: flex;
	flex-wrap: wrap;
}

/* ----------------------------------------
Header
------------------------------------------- */


.upright-triangle {
	z-index: -10;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid #00549986;
	position: absolute;
	margin-top:-30px;
}

.landing-container h1 {
	position: relative;
	color: blue;
}

.landing-container h2 {
	position: relative;
	/* color: green; */
}

/* ----------------------------------------
Buttons
------------------------------------------- */


/* ----------------------------------------
About
------------------------------------------- */




/* ----------------------------------------
Gallery
------------------------------------------- */





/* ----------------------------------------
Forms
------------------------------------------- */




/* ----------------------------------------
Footer
------------------------------------------- */



/* ----------------------------------------

Error Styles
------------------------------------------- */




/* ----------------------------------------
Media Queries
------------------------------------------- */
