/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	background: WAVEFORM
}

img {
	max-width: 100%;
} 

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: none;
} 

h1, h2, h3 {
    font-family: 'Prompt', sans-serif;
	font-weight: 600;
}

h1 {

}

h2 {

}

h3 {

}

a {

}

a:hover {
	
} 



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
}

li {
	display: block;
	text-align: left;
}


/* ----------------------------------------
Layout
------------------------------------------- */


/* ----------------------------------------
Header
------------------------------------------- */



/* ----------------------------------------
Buttons
------------------------------------------- */


/* ----------------------------------------
About
------------------------------------------- */




/* ----------------------------------------
Gallery
------------------------------------------- */





/* ----------------------------------------
Forms
------------------------------------------- */




/* ----------------------------------------
Footer
------------------------------------------- */



/* ----------------------------------------

Error Styles
------------------------------------------- */




/* ----------------------------------------
Media Queries
------------------------------------------- */
